*.vsidx
*.bin
/AppMVC/PrjFinanceiroSLN/PrjFinanceiro/bin
/AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/CopilotIndices
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/DesignTimeBuild
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17
/AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin
/AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17
*.v2
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17
