*.vsidx
*.bin
/AppMVC/PrjFinanceiroSLN/PrjFinanceiro/bin
/AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17
/.vs/sistemafinanceiro/v17
/AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin
/AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj
/AppMVC/PrjFinanceiroSLN/.vs
/AppMVC/PrjFinanceiroSLN/.vs
*.v2
/AppMVC/PrjFinanceiroSLN/.vs
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/.vs/VSWorkspaceState.json
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/.vs/slnx.sqlite
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/.vs/PrjFinanceiro/v17/DocumentLayout.json
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/.vs/PrjFinanceiro/v17/.wsuo
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17/DocumentLayout.json
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17/.suo
