*.vsidx
*.bin
/AppMVC/PrjFinanceiroSLN/PrjFinanceiro/bin
/AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17/.suo
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/FinanceiroTest.runtimeconfig.json
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17/.futdcache.v2
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17/.futdcache.v2
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17/.suo
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/FinanceiroTest.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/FinanceiroTest.pdb
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug
/AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug
/AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj
